# Yarn Berry
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# Dependencies
node_modules

# Environment
.env
.env.*
!.env.example

# Build output
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log

# Misc
CLAUDE.md
